<div class="parallax"></div>
<div class="row">
    <div class="col-md-12 my-5 px-5 ">
        <p class="text-center">As frutas apresentam uma grande quantidade de componentes que beneficiam diretamente a saúde, como vitaminas, minerais e alguns compostos bioativos (flavonoides e carotenoides, por exemplo). Os flavonoides apresentam função antioxidante, anticancerígena e antimutagênica. Os carotenoides, por sua vez, estão relacionados com o aumento da resposta do nosso sistema imunológico e prevenção contra doenças cardiovasculares, catarata e câncer.</p>
        <p class="text-center">Em virtude da grande quantidade de benefícios atribuídos às frutas, recomenda-se que uma pessoa faça a ingestão de 5 a 9 porções de vegetais e frutas por dia. Um baixo consumo de frutas está relacionado com o aumento do risco de desenvolver problemas cardiovasculares e alguns tipos de câncer.</p>
    </div>
</div>
<div class="parallax"></div>